@model MeditGestionRisqueLesire.Models.examen_en_fonction_du_risque

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>examen_en_fonction_du_risque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emploi.TypeTravail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emploi.TypeTravail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeRisque.IdRisque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeRisque.IdRisque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdExamenFonctionRisque }) |
    @Html.ActionLink("Back to List", "Index")
</p>
